[submodule "external/curlpp"]
	path = external/curlpp
	url = https://github.com/jpbarrette/curlpp.git

[submodule "external/nlohmann"]
	path = external/nlohmann
	url = https://github.com/nlohmann/json.git

[submodule "external/boost"]
	path = external/boost
	url = https://github.com/boostorg/boost.git

[submodule "external/fmtlib"]
	path = external/fmtlib
	url = https://github.com/fmtlib/fmt.git
[submodule "external/date"]
	path = external/date
	url = https://github.com/HowardHinnant/date.git
[submodule "external/restbed"]
	path = external/restbed
	url = https://github.com/Corvusoft/restbed.git
[submodule "source/tests/Catch2"]
	path = source/tests/Catch2
	url = https://github.com/catchorg/Catch2.git
