[submodule "external/curlpp"]
	path = external/curlpp
	url = https://github.com/jpbarrette/curlpp.git

[submodule "external/nlohmann"]
	path = external/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "external/fmtlib"]
	path = external/fmtlib
	url = https://github.com/fmtlib/fmt.git
[submodule "external/date"]
	path = external/date
	url = https://github.com/HowardHinnant/date.git
